.messageWrap {
    margin-top: 10px;
    background-color: #acb3c9;
    max-width: 100%;
    border: 2px solid #242447;

}

.otherUserImgBlock {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.otherUserImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.otherUserMsg,
.userMsg {
    box-sizing: border-box;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    max-width: 50%;
    background-color: white;
    border-radius: 10px;
   overflow: hidden;
}

.otherUserTxtContent {
    position: relative;
}

.otherUserDate {
    font-size: 10px;
    color: grey;
}

.otherUserMsg {
    margin-left: 20px;
}
.otherUserTxtAttr {
    display: flex;
    justify-content: space-between;
}
.userMsg {
    margin-left: auto;
    margin-right: 20px;
    color: white;
    background-color: #2b2b2b;
}

.otherUserLike {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.dislike {
    background-image: url("../assets/img/heart.svg");
    width: 15px;
}

.like {
    background-image: url("../assets/img/heart-y.svg");
    width: 15px;
}

.none {
    display: none;
}

.editBtn,
.delBtn {
    width: 100%;
    font-size: 10px;
    color: #d0d2db;
    margin-left: 7px;
    cursor: pointer;
}

.editBtn:hover,
.delBtn:hover {
    color: white;
}


.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 999;
    padding: 36px 16px 16px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0;
    box-sizing: border-box;
}