
body {
    position: relative;
}
.container {
    margin: 0 auto;
    max-width: 1320px;
    }

.none {
    display: none;
}
.loaderWrap {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #acabac;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.loader {
    animation: spin 1s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: rgb(77, 73, 80);
    border-top-color: rgb(82, 73, 82);
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: fixed;
    top: calc(50% - 10vmin);
    width: 20vmin;
    z-index: 2;

}

.loader:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: rgb(80, 65, 83);
    border-top-color: rgb(77, 60, 82);
    box-sizing: border-box;
    content: '';
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
}

.loader::after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: rgba(49, 35, 49, 0.62);
    border-top-color: rgba(45, 31, 44, 0.62);
    box-sizing: border-box;
    content: '';
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}